{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="layui-container">
        <div class="layui-row layui-col-space1" style="padding-top: 50px">
            <div class="layui-col-md6">
                <div class="layui-carousel" id="ID-carousel-demo-image">
                    <div carousel-item>
                        {% for foo in req %}
                            <a href="">
                                <img src="upload/{{ foo.img }}" onclick="openPopup('/static/data/{{ foo.aid.content }}')"
                                     style="width: 100%;height: 100%" alt="">
                                <div class="text-overlay">{{ foo.name }}</div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">

                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="layui-icon layui-icon-notice">最新通知</i>
                    </div>
                    <div class="layui-card-body">
                        <ul>
                            {% for obj in gg|slice:":6" %}
                                <li style="text-decoration: none;" class="mdui-list-item mdui-ripple"><a
                                        href="/post/{{ obj.id }}" target="_blank"><span>{{ obj.title }}</span>&nbsp; <span>{{ obj.create_date|date }}</span> </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        {#宣传图#}
        <div class="layui-container" style="padding-top: 50px">
            {% for foo in xct %}
                <p><img src="/static/data/{{ foo.img }}" alt=""
                     style="width: 100%" onclick="openPopup('/static/data/{{ foo.aid.content }}')"></p>
            {% endfor %}
        </div>

        {#工作动态、内设部门#}
        <div class="layui-container" style="padding-top: 50px">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md7">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-note">工作动态</i></div>
                        <div class="layui-card-body">
                        <ul>
                            {% for obj in work_list|slice:":6" %}
                                <li style="text-decoration: none;" class="mdui-list-item mdui-ripple"><a
                                        href="/static/data/{{ obj.content }}" target="_blank"><span>{{ obj.title }}</span> &nbsp;<span style="padding-right: 0">{{ obj.create_date|date }}</span> </a>
                                </li>
                            {% endfor %}
                        </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-user">内设部门</i></div>
                        <div class="layui-card-body">
                            结合 layui 的栅格系统<br>
                            轻松实现响应式布局
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr  style="padding-top: 25px">

        {#跳转链接#}
        <div class="layui-container" style="padding-top: 25px">
            <div class="layui-card">
                <div class="layui-card-header"><i class="layui-icon layui-icon-website">跳转地址</i></div>
                <div class="layui-card-body layui-row">
                    {% for foo in jump %}
                    	<div class="layui-col-md2"><a target="_blank" href="{{ foo.url }}"><img height="15.32px" src="/static/data/{{ foo.logo }}" alt="">{{ foo.title }}</a></div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <hr style="padding-top: 25px">

        <div class="layui-container" style="padding-top: 25px">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md7">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-tabs">检查业务</i></div>
                        <div class="layui-card-body">
                            卡片式面板面板通常用于非白色背景色的主体内<br>
                            从而映衬出边框投影
                        </div>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-theme">专题活动</i></div>
                        <div class="layui-card-body">
                            结合 layui 的栅格系统<br>
                            轻松实现响应式布局
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>
        layui.use(function () {
            const carousel = layui.carousel;
            // 渲染 - 图片轮播
            carousel.render({
                elem: '#ID-carousel-demo-image',
                autoplay: true,
                interval: 4000,
                indicator: 'outside',
                width: '600px',
                height: '350px',
                anim: 'fade',
            });
        });

        function openPopup(url) {
            window.open(url, '_blank');
        }
    </script>
{% endblock %}