{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="layui-container">
        <div class="layui-row layui-col-space15" style="padding-top: 70px">
            <div class="layui-col-md6">
                <div class="layui-carousel" id="ID-carousel-demo-image">
                    <div carousel-item>
                        {% for foo in req %}
                            <a href="">
                                <img src="upload/{{ foo.img }}" alt="" style="width: 100%;height: 100%">
                                <div class="text-overlay">{{ foo.name }}</div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">

                <div class="layui-card">
                    <div class="layui-card-header">
                        <span class="">最新通知</span>
                    </div>
                    <div class="layui-card-body">
                        <ul>
                            {% for obj in gg|slice:":6" %}
                                <li style="text-decoration: none;" class="mdui-list-item mdui-ripple"><a
                                        href="post/{{ obj.id }}">{{ obj.title }}——————{{ obj.create_date|date }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        {#宣传图#}
        <div class="layui-container" style="padding-top: 70px">
            {% for foo in xct %}
                <a href=""><img src="/static/data/{{ foo.img }}" alt="" style="height: 260px; width: 100%"></a>
            {% endfor %}
        </div>

        {#工作动态、内设部门#}
        <div class="layui-container" style="padding-top: 70px">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md7">
                    <div class="layui-card">
                        <div class="layui-card-header">工作动态</div>
                        <div class="layui-card-body">
                            卡片式面板面板通常用于非白色背景色的主体内<br>
                            从而映衬出边框投影
                        </div>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-card">
                        <div class="layui-card-header">内设部门</div>
                        <div class="layui-card-body">
                            结合 layui 的栅格系统<br>
                            轻松实现响应式布局
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {#跳转链接#}
        <div class="layui-container" style="padding-top: 70px">
            <div class="layui-card">
                <div class="layui-card-header">友链专区</div>
                <div class="layui-card-body">
                    结合 layui 的栅格系统<br>
                    轻松实现响应式布局
                </div>
            </div>
        </div>


        <div class="layui-container" style="padding-top: 70px">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md7">
                    <div class="layui-card">
                        <div class="layui-card-header">检查业务</div>
                        <div class="layui-card-body">
                            卡片式面板面板通常用于非白色背景色的主体内<br>
                            从而映衬出边框投影
                        </div>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-card">
                        <div class="layui-card-header">专题活动</div>
                        <div class="layui-card-body">
                            结合 layui 的栅格系统<br>
                            轻松实现响应式布局
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>
        layui.use(function () {
            const carousel = layui.carousel;
            // 渲染 - 图片轮播
            carousel.render({
                elem: '#ID-carousel-demo-image',
                autoplay: true,
                interval: 4000,
                indicator: 'outside',
                width: '600px',
                height: '350px',
                anim: 'fade',
            });
        });
    </script>
{% endblock %}